* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: grid;
  grid-template-rows: repeat(auto-fit, 35px);
  border: 1px solid black;
  width: 150px;
  font-size: 1.2rem;
  align-items: center;
}

.menu-item {
  padding: 5px;
  border: 1px solid gray;
  width: 150px;
  text-align: center;
  background-color: rgb(56, 55, 55);
  color: white;
}

.hidden {
  display: none;
}

.menu:hover > .menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgb(60, 120, 231);
}
